@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: black;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: black;
}

h4 {
  font-size: 20px;
  color: black;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  color: black;
}

p {
  font-size: 16px;
  color: darkgray;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white {
  width: 100px;
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

.logo {
  width: 20vh;
  height: 15vh;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* space between logo and bar */
  padding: 20px 80px;
  background: url("/Images/header_img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: relative;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  color: blueviolet;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
#navbar li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: blue;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#navbar li a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

/* Contact Page */
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span {
  font-size: 12px;
}

#contact-details .details h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .aboutus {
  width: 55%;
  height: 400px;
}

#contact-details .aboutus p {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}



#form-details form button {
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  color: whitesmoke;
  cursor: pointer;
  margin: 10px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#form-details form button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}



#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

/* Contact End */
#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}
/* Home Page Below Navbar(slider tp) */
/*  */

/* Feature */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 15px auto;
  transition: all 0.2s;
}

#feature .fe-box:hover {
  /* box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6 /*Eg: free shipping Feature boxes Ie services cards */ {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rebeccapurple;
  background-color: pink;
}

#feature .fe-box:nth-child(2) h6  /* Here box number that is 2 */ {
  background-color: #98fb98;
}
#feature .fe-box:nth-child(3) h6  /* Here box number that is 3 */ {
  background-color: lightskyblue;
}
#feature .fe-box:nth-child(4) h6  /* Here box number that is 4 */ {
  background-color: yellow;
}

#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 192px;
  padding: 10px 12px;
 
  cursor: pointer;
  border-radius: 25px;
 
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  margin: 15px 0;
  transition: all 0.2s;
  position: relative;
}

#product1 h2 {
  background: -webkit-linear-gradient(#00f942, #ffef74, #f745fc);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#product1 .pro:hover {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: black;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: black;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: #00bfff;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: black;
}



#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: lightskyblue;
  color: magenta;
  border: 2px solid pink;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("Images/Index/Banner/resize-2.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 10px;
  padding: 10px 0;
}
#banner h2 span {
  color: red;
}

#banner button:hover {
  background-color: darkorange;
  color: white;
}

#sm-banner {
  display: flex;

  justify-content: space-between;
  flex-direction: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("Images/Index/Banner/festive.png");
  min-width: 500px;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 800;
}
#sm-banner h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 15px;
}

#sm-banner .banner-box button:hover {
  background: red;
  border: 1px solid red;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

/* product quantity */
#product-color
{
  border-radius: 6px;
  border:2px solid lightgreen;
  box-shadow: 0 0 10px lightseagreen;
}

#product-quantity {
  border: 2px solid lightgreen;
  box-shadow: 0 0 10px lightskyblue;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url("Images/Index/Banner/ucsale_1.png");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#banner3 .banner-box2 {
  background-image: url("Images/Index/Banner/banner2.jpeg");
}
#banner3 .banner-box3 {
  background-image: url("Images/Index/Banner/pf.jpg");
  height: 30vh;
}
#banner3 h2 {
  color: white;
  font-weight: 800;
  font-size: 15px;
}
#banner3 h3 {
  color: red;
  font-weight: 800;
  font-size: 15px;
}

#banner3 .banner-box button:hover {
  background-color: #eb5757;
  border-color: #eb5757;
}

.mySlides {
  display: none;
  width: 100%;
  padding: 20px;
}

img {
  vertical-align: middle;
  border-radius: 5px;
}

/* Slideshow container */

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 25px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 30px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 30px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: lightgoldenrodyellow;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
}


#content {
  display: none;
}
#content img {
  width: 100%;
}
#loader {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
}
#loader img {
  width: 400px;
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 80px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px; /* hide the navbar */
    height: 100vh;
    width: 300px;
    background-color: aqua;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: black;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
    color: black;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    /* padding:30px; */
  }

  #banner3 {
    padding: 0 40px;
  }
  #banner3 .banner-box {
    width: 28%;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 20px 30px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }

  #feature {
    justify-content: space-between;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }

  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
}

/* Shop Page */
#page-header {
  width: 100%;
  height: 35vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}

#page-header p {
  color: white;
}


/* Single Product */
#proDetails {
  display: flex;
  margin-top: 20px;
}

#proDetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#proDetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#proDetails .single-pro-details h2 {
  font-size: 25px;
}

#proDetails .single-pro-image {
  width: 45%;
  margin-right: 50px;
}

#proDetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#proDetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}

#proDetails .single-pro-details input:focus {
  outline: none;
}



.single-pro-details .btn-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 60px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.single-pro-details .btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.single-pro-details .btn-hover:focus {
  outline: none;
}

.btn-hover.color-atc {
  background-image: linear-gradient(
    to right,
    #6253e1,
    lightseagreen,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

#proDetails .single-pro-details span {
  line-height: 28px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 477px) {
  /* Single Product */
  #proDetails {
    display: flex;
    flex-direction: column;
  }

  #proDetails .single-pro-image {
    width: 100%;
    margin-right: 0;
  }

  #proDetails .single-pro-details {
    width: 100%;
  }
}

/* Search Bar */

.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchBar > input {
  width: 20rem;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  height: 3rem;
  padding: 1rem;
}

.searchBar button {
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  color: whitesmoke;
  cursor: pointer;
  margin: 10px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.searchBar button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.searchBar > button {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  padding:20px;
  border:1px solid black;
  display: flex;
}

.cart-item {
  display: flex;
  width: 45%;
  /* justify-content: center; */
  
}

.cart-price {
  justify-content: center;
  width: 35%;
  display: flex;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  justify-content: center;
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}


.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}


.cart-total-price {
  color: #333;
  font-size: 1.1em;
}
          
  .btn-rem {
    background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-rem:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

           
  .btn-purchase {
    background-image: linear-gradient(to right, #B3FFAB 0%, #12FFF7  51%, #B3FFAB  100%);
    margin: 40px auto 80px auto;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;            
    box-shadow: 0 0 20px aqua;
    border-radius: 10px;
    border:2px solid lightseagreen;
  }

  .btn-purchase:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

i.fa-star {
  color: #00bfff;
}

span .icon-foot {
  display: flex;
  gap: 10px;
}
